///Native element



////// Raw Element



.content{
  height:100vh;
}

.background{
  padding-top: 15em;
  background-image:  url("../../assets/images/BaseBackgroud.svg");
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2em;
}

.tools{
  width:6em;
  margin-right: 1em;
}
.input{
  width: 5em;
  margin-right: 1em;
}

.btn-row{
  display:flex;
  justify-content: space-between;
}
.btn-next{
  background-color: yellow;
  min-width: 5em;
  border-radius: 5;
  border: yellow;
  color: blue;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  padding:10px
}
